.input-answer{
    width: 100%;
    border: 0.5px solid #b7b4b4;  
}

.padding-right-cero {
    padding-right: 0;
}

.button-generic {
    height: 30px;
    width: 100%;
    border: none;
    cursor: pointer;
    text-align: center;
}

.button-purple {
    background-color: #413455;
    color: white;
}

.button-gray {
   border: 0.5px solid #413455;
    color: #413455;
}

.margin-top-10 {
    margin-top: 10px;
}

.title-answers {
    margin: 10px 0px 10px 0px;
    font-size: 18px;
}
.mat-checkbox-inner-container{
    height: 25px;
    width: 25px;
}

.margin-left-25 {
    margin-left: 25%;
}