<div class="container">
  <h1>Mis Cursos</h1>
      <div class="flex-grid" *ngFor="let curso of cursos">
            <p>
              {{curso.nombre}}
            </p>
              <ngb-carousel style="width: 20%">
                <ng-template  ngbSlide *ngFor="let content of curso.contenido_interactivo;let i=index" >
                  <img src="{{getURLImageYoutube(content.contenido.url)}}" alt="{{content.nombre}}" width="100%" height="100%">
                  <div class="carousel-caption">
                    <h3 style="background: #eceff1;color: black;font-size: medium">{{content.nombre}}</h3>
                  </div>
                </ng-template>
              </ngb-carousel>
      </div>
</div>
