<div style="margin: 4%;"></div>
<ng-container *ngIf="contentsLoaded | async">
    <div style="margin-left: 13%;" >
        <youtube-player [videoId]="id" [height]="480" [width]="852" (ready)="savePlayer($event)"
            (change)="onStateChange($event)" [playerVars]="playerVars"></youtube-player>
    </div>

    <div style="margin-left: 13%;" class="bar-container">
      <div id="outer-marks">
        <div id="inner-marks">
          <div id="inner-inner-mark" *ngFor="let punto of marcasPorcentaje"
               [ngStyle]="{'left': ((punto * 854 / 100)) + 'px'}"
               (click)="handleTouchProgressBar(punto)"
          ></div>
        </div>
      </div>

      <input type="range" style="width: 854px;" #progressBar id="progressBar"
             (ngModelChange)='handleTouchProgressBar($event)' [ngModel]="progressBarValue">

      <br />
      <button mat-flat-button color="primary" *ngIf="!playing" (click)="play()">
        <mat-icon>play_circle_outline</mat-icon>
      </button>
      <button mat-flat-button color="primary" *ngIf="playing" (click)="pause()">
        <mat-icon>pause_circle_outline
        </mat-icon>
      </button>
      {{ getCurrentTime()}}/{{getTotalTime()}}
    </div>
</ng-container>
