<div style="margin: 4%;"></div>
<ng-container *ngIf="contentsLoaded | async">
    <div style="margin-left: 13%;">
        <youtube-player style="pointer-events: none;" [videoId]="videoId" [height]="480" [width]="854" (ready)="savePlayer($event)"
            (change)="onStateChange($event)" [playerVars]="playerVars"></youtube-player>
    </div>

    <div style="margin-left: 13%;" class="bar-container">
      <div id="outer-marks">
        <div id="inner-marks">
          <div title="{{ getDuration(punto) }}" id="inner-inner-mark" *ngFor="let punto of marcasPorcentaje"
               [ngStyle]="{'left': getPosition(punto) + 'px'}"
               (click)="handleTouchProgressBar(punto)"
          ></div>
        </div>
      </div>

      <input type="range" id="progressBar" [disabled]="isVideoLineal" step="0.1"
             (ngModelChange)="handleTouchProgressBar($event)" [(ngModel)]="progressBarValue"/>

      <br />
      <button mat-flat-button color="primary" *ngIf="!playing" (click)="play()">
        <mat-icon>play_circle_outline</mat-icon>
      </button>
      <button mat-flat-button color="primary" *ngIf="playing" (click)="pause()">
        <mat-icon>pause_circle_outline
        </mat-icon>
      </button>
      {{ getCurrentTime()}}/{{getTotalTime()}}
    </div>
</ng-container>
