.bar-container {
  padding-top: 10px;
  margin: 2%;
}

.video-container {
  width: 854px;
  height: auto;
}

#progressBar {
  width: 854px;
}

#outer-marks {
  width: 100%;
  position: relative
}

#inner-marks {
  top: -30px;
  position: absolute;
}

#inner-inner-mark {
  background: #9C75D7;
  position: absolute;
  height: 20px;
  width: 10px;
  cursor: pointer;
  border-width: 1px;
  border-color: #413455;
  border-style: solid;
}
