<div *ngIf="hayPregunta">
  <h1 class="subrayar">{{infoPregunta.nombre}}</h1>
  <h3>{{infoPregunta.pregunta}}</h3>
  <div mat-dialog-content class="container">
    <div class="fila-flex">
      <div id="pregunta" class="columna-flex">
        <label>Selecciona tu respuesta:</label>
        <mat-radio-group [formControl]="respuestaControl">
          <mat-radio-button value="verdadero">Verdadero</mat-radio-button>
          <mat-radio-button class="falso" value="falso">Falso</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
  </div>
  <div *ngIf="showResults()" class="columna-flex">
    <h4 class="subrayar">La respuesta correcta es:</h4>
    <div class="left-div">
    <label>{{respuesta}}</label>
    </div>
    <div class="right-div">
    <label>Calificación obtenida: {{ answer.qualification | percent }}</label>
    </div>
  </div>
  <div *ngIf="showResults()" class="columna-flex">
    <h4 class="subrayar">Retroalimentación:</h4>
    <label>{{infoPregunta.retroalimentacion}}</label>
  </div>
  <div class="form-actions">
    <button *ngIf="canJump && !yaRespondio" class="mat-flat-button mat-primary" type="button"
            (click)="saltar()">
      Saltar
    </button>
    <button *ngIf="!yaRespondio" class="mat-flat-button mat-primary" type="button" (click)="responderPregunta()">
      Enviar respuesta
    </button>
    <button *ngIf="yaRespondio" class="mat-flat-button mat-primary" type="button" (click)="saltar()">
      Continuar
    </button>
  </div>
</div>
