.container {
  margin: 2%;
}

.video-container {
  width: 854px;
  height: auto;
}

#progressBar {
  width: 854px;
}

.bar-container {
  padding-top: 30px;
  margin-bottom: 2em;
}

mat-form-field {
  margin-right: 2em;
}

input[type="range"] {
  width: 100%;
  margin: 0;
  box-sizing: border-box;
}

#outer-marks {
  width: 100%;
  position: relative
}

#inner-marks {
  top: -30px;
  position: absolute;
}

#inner-inner-mark {
  background: #d6c900;
  position: absolute;
  height: 20px;
  width: 10px;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
}
