.mat-dialog-content {
  max-height: max-content;
  overflow: initial;
}

button {
  background-color: #43425d;
  color: white;
  margin-top: auto;
  height: 35px;
  width: 90%;
  border-radius: 5px;
  border: none;
  margin-top: 15px;
}

.green-color {
  color: #0aa61b;
}

.font-title {
  font-size: 25px;
  margin-bottom: 17px;
  border-bottom: solid 1px gray;
  color: #4d4949;
}

textarea {
  min-width: 90%;
}

mat-form-field {
  min-width: 90%;
}

.right-div {
  text-align: right;
}

.display-ruby {
  display: ruby;
  width: 254px;
}

.timer {
  margin: -40px 10px 20px 0px;
  padding-right: 15px;
  width: 100%;
  text-align: right;
}
