<div class="container">
    <h1>Contenido Interactivo</h1>
    <!--<div class="options-grid">
      <button mat-button [routerLink]="['/load-videos/']" routerLinkActive="router-link-active">Nuevo</button>
    </div>-->
    <div class="flex-grid">
      <div class="col" *ngFor="let contenidoInt of contenidos">
        <mat-card>
          <mat-card-header>
            <mat-card-title>{{contenidoInt.nombre}}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              Tipo de Contenido: Video 
            </p>
            <p>
              Fuente: Youtube
            </p>
            <p>
              Cantidad de cursos: {{contenidoInt.curso.length}}
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button [routerLink]="['/contenido-interactivo/detalle/' + contenidoInt.id]" routerLinkActive="router-link-active">Info</button>
            <button mat-button (click)="addContenidoACurso(contenidoInt.id, contenidoInt.nombre)">Asignar Cursos</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
</div>
