.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 230px;
  background-color: #43425d;
}
.mat-list-item {
  color: #ffffff;
}
mat-icon {
  margin-right: 5%;
}
mat-toolbar {
  color: #ffffff;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.tree {
  background: inherit;
  color: #ffffff;
  margin-right: 5%;
  margin-left: 2%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  /* font-size: 12px;  */
  /* background-color: #43425d; */
  /* font-weight: bold; */
}

.menu {
  background-color: #ffffff;
  position: absolute;
  left: 50px;
  width: 160px;
  border-radius: 5px;
}

.menuItem {
  padding: 5px;
  font-weight: bold;
  border-radius: 5px;
}

.menuItem:hover {
  background-color: rgba(211, 211, 211, 0.425);
}

.dropDown {
  background-color: transparent;
  border: none;
  color: white;
  margin-left: auto;
  margin-left: 6px;
  margin-top: 4px;
}

.navbar__menuA {
  color: white !important;
}
