<h1 mat-dialog-title>Crear pregunta tipo pausa {{data.marca.nombre}}</h1>
<div mat-dialog-content style="margin-bottom: 1em;">
    <form [formGroup]="questionForm" (ngSubmit)="agregarMarca()">
        <div class="row-container">
            <mat-form-field appearance="outline" style="width:100%">
                <mat-label>Duración (Segundos)</mat-label>
                <input type="number" min="1" matInput placeholder="Duracion" formControlName="tiempo" />
            </mat-form-field>
        </div>
        <div class="row-container">
            <mat-form-field appearance="outline" style="width:100%">
                <mat-label>Ingrese el texto a presentar</mat-label>
                <input type="text" matInput placeholder="Texto Presentar" formControlName="enunciado" />
            </mat-form-field>
        </div>
        <div class="form-actions">
            <button id="cancel-button" class="mat-stroked-button" type="button" (click)="cancel()">
                Cancelar
            </button>
            <button class="mat-flat-button mat-primary" type="submit">Guardar</button>
        </div>
    </form>
</div>