<h1 mat-dialog-title *ngIf="!data.marca.pregunta">Crear pregunta abierta {{data.marca.nombre}}</h1>
<h1 mat-dialog-title *ngIf="data.marca.pregunta">Actualizar pregunta abierta {{data.marca.nombre}}</h1>
<div mat-dialog-content style="margin-bottom: 1em;">
    <form [formGroup]="questionForm" (ngSubmit)="agregarMarca()">
        <div class="row-container">
            <mat-form-field appearance="outline" style="width:100%">
                <mat-label>Nombre</mat-label>
                <input type="text" matInput placeholder="Actividad 1" formControlName="nombre" />
            </mat-form-field>
        </div>
        <div class="row-container">
            <mat-form-field appearance="outline" style="width:100%">
                <mat-label>Ingrese aquí la pregunta</mat-label>
                <input type="text" matInput placeholder="Enunciado" formControlName="enunciado" />
            </mat-form-field>
        </div>
        <div class="form-actions">
            <button id="cancel-button" class="mat-stroked-button" type="button" (click)="cancel()">
                Cancelar
            </button>
            <button class="mat-flat-button mat-primary" type="submit">Guardar</button>
        </div>
    </form>
</div>