

  <div class="container">
    <h1>{{nombreCurso}}</h1>
    <ng-container *ngIf=dataSource >
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" multiTemplateDataRows>
            
            <ng-container matColumnDef="contenido">
                <th mat-header-cell *matHeaderCellDef> Contenido </th>
                <td mat-cell *matCellDef="let element"> {{element['contenido']}} </td>
            </ng-container>

            <ng-container matColumnDef="calificacion" >
                <th mat-header-cell *matHeaderCellDef> Calificacion </th>
                <td mat-cell *matCellDef="let element"> {{element['calificacion']}} </td>
            </ng-container>

            <ng-container matColumnDef="detalle">
                <th mat-header-cell *matHeaderCellDef> Detalle </th>
                <td mat-cell *matCellDef="let element"  > 
                    <a [routerLink]="['/contenido-interactivo/reporte/' + element.id]" [ngClass]="{'disabled': element['calificacion'] == 'Pendiente de Presentar'}">{{element['detalle']}}</a>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let element; columns: displayedColumns;"
                class="example-element-row">
            </tr>
        </table>
        <mat-paginator #scheduledOrdersPaginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons ></mat-paginator>
    </ng-container>
</div>