<mat-card class="detail-card">
    <div *ngIf=data>
        <mat-card-header>
            <mat-card-title>Revisión: {{data.nombre}}</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>

        <mat-tab-group>
            <mat-tab label="Preguntas">
                <mat-list>
                    <mat-list-item cols="2" *ngFor="let q of dataQuestions">
                        <h4 mat-line>{{q.question}}</h4>
                        <p mat-line><b>Respuesta correcta:</b></p>
                        <mat-list mat-line>
                            <mat-list-item *ngFor="let option of q.arrayCorrectAnswers">
                                <p mat-line>{{option.titleOption}}</p>
                            </mat-list-item>
                        </mat-list>                       
                    </mat-list-item>
                </mat-list>
            </mat-tab>
        </mat-tab-group>
        <mat-divider></mat-divider>
    </div>
</mat-card>
