<mat-card class="detail-card">
    <div *ngIf=data>
        <mat-card-header>
            <mat-card-title>Revisión: {{data.nombre}}</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>

        <mat-tab-group>
            <mat-tab label="Preguntas">
                <mat-list>
                    <mat-list-item cols="2" *ngFor="let q of dataQuestions">
                        <h4 mat-line>{{q.question}}</h4>
                        <p mat-line><b>Respuesta correcta:</b></p>
                        <mat-list mat-line>
                            <mat-list-item *ngFor="let option of q.arrayCorrectAnswers">
                              <p mat-line>{{option.titleOption}}</p>
                              <div *ngIf="isOpenQuestion(option.type) && !option.alreadyQualified">
                                <label>Calificación obtenida: Pendiente</label>
                              </div>
                              <div *ngIf="(isOpenQuestion(option.type) && option.alreadyQualified) || !isOpenQuestion(option.type)">
                                <label>Calificación obtenida: {{ option.qualification | percent }}</label>
                              </div>
                            </mat-list-item>
                        </mat-list>
                    </mat-list-item>
                    <mat-list-item>
                      <div>
                        <label>Calificación total: {{ total | percent }} {{ dataQuestions.length }} / {{ dataQuestions.length }}</label>
                      </div>
                      <!-- <input type="button" clic="actualiza" value="Hola"> -->
                    </mat-list-item>
                </mat-list>
            </mat-tab>
        </mat-tab-group>
        <mat-divider></mat-divider>
    </div>
</mat-card>
