.container {
  display: flex;
  flex-direction: column;
}

.falso {
  margin-left: 1rem;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
}

button {
  margin: 0 8px 0 8px;
}

.fila-flex {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
}

.columna-flex {
  display: flex;
  flex-direction: column;
}
