<h1 mat-dialog-title>{{ title }} pregunta verdadero o falso en {{ data.marca.nombre }}</h1>
<div mat-dialog-content class="container">
  <form [formGroup]="questionForm" (ngSubmit)="crearMarca()">
    <div>
      <mat-form-field appearance="outline" style="width:100%">
        <mat-label>Nombre de la pregunta</mat-label>
        <input type="text" matInput placeholder="Nombre" formControlName="nombre" required />
        <mat-error *ngIf="validationService.hasError('nombre', 'maxlength', questionForm)">
          {{ nombreMaxLength }} caracteres máximo
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" style="width:100%">
        <mat-label>Pregunta para responder</mat-label>
        <input type="text" matInput placeholder="Pregunta" formControlName="pregunta" required />
        <mat-error *ngIf="validationService.hasError('pregunta', 'maxlength', questionForm)">
          {{ preguntaMaxLength }} caracteres máximo
        </mat-error>
      </mat-form-field>
      <div class="fila-flex">
        <div class="columna-flex">
          <label>Respuesta correcta:</label>
          <mat-radio-group [formControl]="respuestaControl">
            <mat-radio-button value="verdadero">Verdadero</mat-radio-button>
            <mat-radio-button class="falso" value="falso">Falso</mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="columna-flex">
          <label>Tiene retroalimentación:</label>
          <mat-checkbox color="primary" formControlName="tieneRetroalimentacion" [disabled]="data.tiene_retroalimentacion">¿Tiene retroalimentación?
          </mat-checkbox>
        </div>
      </div>
      <mat-form-field *ngIf="questionForm.get('tieneRetroalimentacion').value" appearance="outline" style="width:100%">
        <mat-label>Escribe la retroalimentación para el estudiante</mat-label>
        <input type="text" matInput placeholder="Retroalimentación" formControlName="retroalimentacion"/>
        <mat-error *ngIf="validationService.hasError('retroalimentacion', 'maxlength', questionForm)">
          {{ retroalimentacionMaxLength }} caracteres máximo
        </mat-error>
      </mat-form-field>
      <div class="form-actions">
        <button id="delete-button" type="button" *ngIf="this.data.marca.edicion" mat-raised-button color="warn" (click)="delete()">
          Eliminar
        </button>
        <button id="cancel-button" class="mat-stroked-button" type="button" (click)="cancel()">
          Cancelar
        </button>
        <button class="mat-flat-button mat-primary" type="submit">Guardar</button>
      </div>
    </div>
  </form>
</div>
